### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Maven
backend/target/
backend/.mvn/
**/pom.xml.tag
**/pom.xml.releaseBackup

# Node / NPM
frontend/node_modules/
frontend/build/

# IDEs
.idea/
*.iml
.vscode/
.DS_Store

# Environment Variables (WICHTIG!)
.env
.env.local
.env.production
backend/src/main/resources/application-prod.properties

# Logs
*.log
logs/

# H2 Database
*.db
*.h2.db
